/* src/components/AppFooter.module.css */

.footer {
  /* bg-dark ya le da el color var(--color-footer) */
  margin-top: 5vh;
}

.footer h5 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.socialBtn {
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: background-color 0.3s, color 0.3s;
}

.socialBtn:hover {
  background-color: var(--bs-info); /* Azul claro de Bootstrap */
  color: #fff;
  border-color: var(--bs-info);
}